body {
  font-size: 1.6rem;
  height: 100vh;
  overflow: hidden;
}
button,
.btn {
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;

  height: 4rem;

  padding: 0rem 2rem;

  background-color: blue;
  border: $border--default;
  box-sizing: border-box;

  cursor: pointer;

  &:hover {
    background-color: red;
  }
}
.button-container--horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.input-box {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;

  display: flex;
  align-items: center;

  padding: 0.7rem;
  box-sizing: border-box;
  outline: none;
  border: $border--default;
  background-color: transparent;
}
input {
  @extend .input-box;
  background-color: white;
  &:focus {
    border: 1px solid red;
  }
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {
  text-transform: uppercase;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-track {
  background: #efefef;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.app-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
}

.name-search__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.name-search__subcontainer {
  height: 100%;

  display: flex;
  flex-direction: column;

  border: $border--default;
  box-sizing: border-box;

  & input {
    border: none;
    border-bottom: $border--default;
  }
}
.name-search__results {
  color: black;

  position: relative;
  top: 0;

  width: 100%;
  max-height: 20vh;
  max-height: auto;

  display: flex;
  flex-direction: column;
  padding: 0;

  background-color: white;
  border-top: none;

  box-sizing: border-box;

  overflow-y: scroll;
  &:hover {
    box-shadow: inset 0px 10px 10px -10px #ccc, inset 0px -10px 10px -10px #ccc;
  }
  & .name-search__result:last-child {
    border-bottom: 1px solid transparent;
  }
}
.name-search__result {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: $border--default;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid red;
  }
}
.name-search__name {
  padding: 0.5rem 1rem;
  &:hover {
    color: red;
  }
}
.name--search__delete {
  color: red;
  display: flex;
  padding: 0 1rem;

  align-items: center;

  cursor: pointer;
  &:hover {
    color: white;
    background-color: red;
  }
}
.ui__container {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #efefef;
  border: $border--default;
  border-radius: 1rem;
  box-sizing: border-box;
}
.disabled {
  background-color: #efefef;
}
.error-message {
  color: red;
}
