body {
  font-size: 1.6rem;
}
button,
.btn {
  font-size: 1.6rem;
  background-color: blue;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: white;
  padding: 1rem 2rem;
}
input {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;

  padding: 1.5rem;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ccc;
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.app-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
}
.name-search {
  position: relative;
  display: flex;
  flex-direction: column;
}
.name-search__results {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 30vh;
  max-height: 30vh;

  display: flex;
  flex-direction: column;
  padding: 0;

  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;

  overflow-y: scroll;
}
.name-search__result {
  display: grid;
  grid-template-columns: 1fr auto;
}
.name-search__name {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
}
.name--search__delete {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: red;
  color: white;
}
