.header__container {
  color: white;

  width: 12vw;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 2rem;

  background-color: $color--background--dark;
  box-sizing: border-box;
  box-shadow: $ui--box-shaodw;

  z-index: 9;
}

.nav__side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;

  margin-top: 20vh;
}

.btn__hamburger {
  width: 5rem;
  height: 5rem;

  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;

  border-radius: 100%;

  box-sizing: border-box;
  box-shadow: $ui--box-shaodw;

  z-index: 11;
}
.icon__hamburger {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  width: 100%;
  background-color: $color--primary--hover;
  border-radius: 100%;

  &:hover {
    background-color: $color--primary;
  }
}
