.home__container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 25rem 1fr;
  // column-gap: 2rem;
  row-gap: 2rem;
  align-items: flex-start;

  box-sizing: border-box;
}
.home__col {
  // height: 100%;
  box-sizing: border-box;
}

.home__col--1 {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4rem;

  padding: 10rem 4rem;

  background-color: #555;
}
.home__col--2 {
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 2rem;
  background-color: $color--background;
  overflow-y: scroll;
}
.home__row {
  width: 100%;
  height: auto;
  // display: flex;
  border: $border--default;
  box-sizing: border-box;
}
.home__user-panel {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;
}
.home__user-input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.nav__side {
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }
  li {
    list-style: none;
  }
}
.home__stats {
  display: grid;
  grid-template-columns: auto 1fr;
  & span:nth-child(even) {
    padding-left: 2rem;
  }
}
.home__prev {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;

  padding: 2rem 0;

  text-align: center;
}
.home__user-activity {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  border: $border--default;
  & span:nth-last-child(-n + 7) {
    border-bottom: none;
  }
}

.home__weekly-report__table {
  grid-template-columns: 7rem repeat(7, 1fr);

  & span:nth-child(8n) {
    border-right: none;
  }
  & span:nth-last-child(-n + 8) {
    border-bottom: none;
  }
}

.home__weekly-report__chart {
  grid-template-columns: 7rem repeat(7, 1fr);
}
.home__weekly-report {
  & .chart__horizontal-label {
    grid-template-columns: 7rem repeat(7, 1fr);
  }
}
