.home__container {
  & .default__col--2 {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    column-gap: 2rem;
    row-gap: 0;

    padding: 0rem 2rem 2rem 2rem;

    & .merged-cell {
      width: 100%;
      grid-column: 1 / span 2;
      text-align: center;
    }
  }
}
.home__row {
  width: 100%;
  height: auto;
  // display: flex;
  border: $border--default;
  box-sizing: border-box;
}
.home__user-panel {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;
}
.home__user-input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.nav__side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
.home__stats {
  display: grid;
  grid-template-columns: auto 1fr;
  & span:nth-child(even) {
    padding-left: 2rem;
  }
}
.home__prev {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;

  padding: 1.8rem 0;

  text-align: center;
}
.home__user-activity {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  border: $border--default;
  & span:nth-last-child(-n + 6) {
    border-bottom: none;
  }
}

.home__weekly-report__table {
  grid-template-columns: 7rem repeat(6, 1fr);

  & span {
    display: flex;
    align-items: flex-end;
  }
  & span:nth-child(7n) {
    border-right: none;
  }
  & span:nth-last-child(-n + 7) {
    border-bottom: none;
  }
}

.home__weekly-report__chart {
  grid-template-columns: 7rem repeat(6, 1fr);
}
.home__weekly-report {
  & .chart__horizontal-label {
    grid-template-columns: 7rem repeat(6, 1fr);
  }
}
