.order__container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 4rem;
  box-sizing: border-box;
}
.order__form {
  width: 100%;
}
.order__amounts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.order__amounts__item {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}
.order__amounts__item__label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}
.order__chart {
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto 1fr 1fr 1fr 1fr 1fr 1fr auto;
  grid-template-rows: auto;

  border: 1px solid #ccc;
  box-sizing: border-box;

  & div {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;

    padding: 0.5rem 1rem;

    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
  }
  & div:nth-child(10n) {
    border-right: none;
    padding: 0;
  }
  & div:nth-child(-n + 10) {
    background-color: #eee;
  }
  & div:nth-child(10n-1) {
    border-right: none;
  }
  & div:nth-last-child(-n + 10) {
    border-bottom: none;
  }
  & div:nth-last-child(-n + 30) {
    background-color: #eee;
  }

  & label:nth-child(n + 1):nth-child(-n + 10) {
    width: 100%;
  }
}

.order__container__col {
  display: flex;
  flex-direction: column;
}
.order__user-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}
.order__user-infobox {
  width: auto;
  border: 1px solid #ccc;
  padding: 2rem;
}

.order__order-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;

  & div {
    display: flex;
    align-items: center;
  }

  & input {
    width: 100%;
  }
}
.order__order-type--cash {
  border: 1px solid #ccc;
  padding: 1.5rem;
}
.order__chart__delete {
  color: red;
  margin-right: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

@media print {
  .print-hide-adea {
    display: none !important;
  }
  body {
    font-size: 1rem !important;
  }
  .order__container {
    grid-template-columns: 100% !important;
    column-gap: 0rem;
  }
  .order__chart__delete {
    color: transparent !important;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

.addform__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  box-sizing: border-box;
}
.addform__column {
  display: flex;
  flex-direction: column;
}
.addform__row {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.addform__row-combined {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addform__cartridge-report {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-width: 1px 0 0 1px;
  border-color: #ccc;
  border-style: solid;
  box-sizing: border-box;

  & div {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0.5rem 1rem;
    text-align: right;
    box-sizing: border-box;
  }
  & div:nth-child(-n + 4) {
    text-align: center;
  }
  & div:nth-child(4n - 3) {
    text-align: left;
  }
  & input {
    width: 25%;
    border: none;
    padding: 0;
    text-align: right;
  }
}
.addform__cartridge-report--number {
  display: grid;
  grid-template-columns: auto 1fr;
  &::before {
    content: "$";
  }
}
.addform__inputarea {
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  border: none;
  text-align: right;
}

.addform__input {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  border-width: 0 0 1px 0;
  border-color: #ccc;
  border-style: solid;
  &:before {
    content: "$ ";
  }
}
