.order__container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 0rem;

  padding: 0 0rem;

  box-sizing: border-box;

  overflow: hidden;

  & .name-search__results {
    max-height: 20vh;
    min-height: 20vh;
  }
}
.order__container__col {
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 1.5rem;

  box-sizing: border-box;

  overflow-y: scroll;
}
.order__container__col--1 {
  background-color: white;
}
.order__container__col--2 {
  // background-color: $color--background;
  background-color: $color--background--dark;
  padding: 5%;
}
.order__col--conditional {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  box-sizing: border-box;

  & input {
    height: 4rem;
  }
}
.order__report-title {
  align-self: center;
  // display: none;
  margin-top: 2rem;
}
.order__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.order__amounts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(5, auto);
  // grid-auto-columns: min-content;
  gap: 1rem;
}
.order__amounts__item {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  border: $border--default;
  box-sizing: border-box;

  & div {
    margin: 0 1rem;
  }
  & input {
    border: 1px solid transparent;
    &:focus {
      border: 1px solid $color--primary;
    }
  }
}
.order__chart {
  width: 100%;

  display: grid;
  grid-template-columns: auto auto auto 1fr 1fr 1fr 1fr 1fr 1fr auto;
  grid-template-rows: auto;

  border: $border--default;
  box-sizing: border-box;

  & div {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;

    padding: 0.5rem 1rem;

    border-right: $border--default;
    border-bottom: $border--default;
    box-sizing: border-box;
  }
  & div:nth-child(10n) {
    border-right: none;
    padding: 0;
  }
  & div:nth-child(-n + 10) {
    background-color: $color--background;
  }
  & div:nth-child(10n-1) {
    border-right: none;
  }
  & div:nth-last-child(-n + 10) {
    border-bottom: none;
  }
  & div:nth-last-child(-n + 30) {
    background-color: $color--background;
  }

  & label:nth-child(n + 1):nth-child(-n + 10) {
    width: 100%;
  }
}
.order__user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.order__user-create {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

.order__order-type--cash {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border--default;
  padding: 0 1rem;
  background-color: white;
  border: $border--default;
}
.order__order-type--check {
  text-align: center;
  background-color: white;
  color: black;
  border: $border--default;
  &:focus {
    border: $border--default;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  &::-ms-input-placeholder {
    color: black;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
  }
}
.order__order-type--check--placeholder {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  &::-ms-input-placeholder {
    color: white;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
  }
}
.order__order-type {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}
.row__delete {
  color: white;
  box-sizing: border-box;
  background-color: $color--primary--hover;

  cursor: pointer;

  & span {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    background-color: $color--primary--hover;

    &:hover {
      color: white;
      background-color: $color--primary;
    }
  }
}
.addform {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-top: 3rem;
}
.addform__section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  box-sizing: border-box;
}
.addform__column {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}
.addform__row {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  & label {
    border-bottom: $border--default;
    margin-bottom: 0.3rem;
    font-weight: 400;
  }
}
.addform__list {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.addform__row-combined {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.addform__cartridge-report {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  border: $border--default;
  box-sizing: border-box;

  & div {
    align-items: center;
    border-bottom: $border--default;
    border-right: $border--default;
    padding: 0.5rem 1rem;
    text-align: right;
    box-sizing: border-box;
  }
  & div:nth-child(-n + 4) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  & div:nth-child(4n - 3) {
    text-align: left;
  }
  & div:nth-child(n + 21) {
    border-bottom: none;
  }
  & div:nth-child(4n) {
    border-right: none;
  }
  & input {
    width: 25%;
    border: 1px solid transparent;
    padding: 0;
    text-align: right;
  }
}
.addform__cartridge-report--number {
  display: grid;
  grid-template-columns: auto 1fr;
  &::before {
    content: "$";
  }
}
.addform__inputarea {
  width: 100%;
  padding: 0 1.5rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: right;
}

.addform__input {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1rem;

  border: $border--default;
  &:before {
    content: "$ ";
    margin-left: 1rem;
  }
}
.order__update-confirm {
  height: calc(100vh - 20rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding: 4rem 3rem;

    border-top: 5px solid $color--primary--hover;
    background-color: $color--background--overlay;
    box-shadow: $ui--box-shaodw;
  }
}

.order__form__row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.print-area {
  padding-bottom: 5rem;
}
.chart__empty-row {
  display: none !important;
}
.report__counter {
  text-align: left;
}
.order-list__table {
  min-height: calc(100vh - 44.4rem);
  max-height: calc(100vh - 44.4rem);
  grid-auto-rows: minmax(min-content, max-content);

  overflow-y: scroll;
  & .row {
    border-bottom: $border--default;
  }
}
.order-list__table--row {
  font-size: 1.6rem;
  grid-template-columns: 1fr 1.7fr 1fr auto;
  & span {
    border-bottom: none;
  }
  & span:nth-child(4n) {
    border-right: none;
  }
  &:hover {
    & span {
      color: white;
    }
    background-color: $color--primary;
  }
}
