@media print {
  .print-hide-adea {
    display: none !important;
  }
  body {
    font-size: 1rem !important;
    color: black !important;
  }
  input {
    font-size: 1rem !important;
    color: black !important;
    border: none;
  }
  .print-area {
    padding: 0;
    margin: 0;
  }
  .order__container {
    grid-template-columns: 100% !important;
    column-gap: 0rem;
  }
  .order__chart div,
  .addform__cartridge-report div {
    padding: 1px 3px !important;
  }
  .order__chart__delete {
    color: transparent !important;
    border-bottom: $border--default;
    border-right: $border--default;
  }
  .addform__row {
    gap: 0;
  }
  .addform__input {
    border: none;
    border-bottom: $border--default;
  }
  .addform__inputarea {
    border: none;
  }
  .order__report-title {
    display: block;
  }
  .chart__empty-row {
    display: block !important;
  }
}
