.letter-container {
  width: 100%;
  height: 100vh;
  @media print {
  }
  border: 1px dashed red;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 60px 60px;
  box-sizing: border-box;

  overflow: visible;

  img {
    margin: 0 auto;
    padding-bottom: 40px;
  }
  table {
    border: 1px solid black;
    padding: 0;
    border-collapse: collapse;

    td,
    th {
      text-align: center;
      padding: 15px;
      border: 1px solid black;
      box-sizing: border-box;
    }
  }
}
.report__container {
  height: 100% !important;
  @media print {
    height: auto;
  }
  overflow: visible !important;
}

.report__container__report {
  height: 100%;
  max-height: 100vh;
  @media print {
    max-height: none;
  }
  border: 1px solid red;

  overflow-y: scroll;
  @media print {
    overflow-y: visible;
  }
}
