.letter-container {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  overflow-y: visible;
  @media print {
  }

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 60px 60px;
  box-sizing: border-box;

  overflow: visible;
  & input {
    display: inline;

    padding: 0;
  }
  & p {
    & input {
      width: auto;
      @media print {
        width: min-content;
      }
    }
    @media print {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  img {
    margin: 0 auto;
    padding-bottom: 40px;
  }
  table {
    border: 1px solid black;
    padding: 0;
    border-collapse: collapse;

    td,
    th {
      font-size: 1.2rem;
      text-align: center;

      padding: 10px;

      border: 1px solid black;
      box-sizing: border-box;

      & .total-value {
        display: grid;
        grid-template-columns: auto 1fr;

        @media print {
          display: flex;
          justify-content: center;
        }
      }
      & input {
        width: 100%;
        @media print {
          width: min-content;
        }
      }
    }
  }
}
.report__container {
  height: 100% !important;
  @media print {
    height: auto !important;
  }
  overflow: visible !important;
}

.report__container__report {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  @media print {
    max-height: none;
  }

  overflow-y: scroll;
  @media print {
    overflow-y: visible;
  }
}
