@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

$default--font: "Poppins", sans-serif;
$font-size--s: 1.2rem;
$font-size--m: 1.4rem;
$font-size--d: 1.6rem;
$font-size--l: 2rem;

$color--primary: #4064ff;
$color--primary--tone: #8ea3ff;
$color--primary--hover: #ff4040;
$color--primary--hover--accent: black;

$color--background: rgba(233, 233, 244, 0.9);
$color--background--shade: #ccc;
$color--disabled: #efefef;
$color--background--overlay: rgba(
  $color: #ffffff,
  $alpha: 0.9,
);

$border--default: 1px solid #ccc;
$default--box-shadow: 2px 2px 3px $color--background;

$ui--box-shaodw: 7px 7px 5px
  rgba(
    $color: #000,
    $alpha: 0.3,
  );

@import "base";
@import "header";
@import "home";
@import "form";
@import "order";
@import "signin";
@import "user";
@import "error";
@import "spinner";
@import "query";
@import "print";
